# For YouTube Data API access
google-api-python-client

# For Redis streaming (used in both producer and consumer)
redis

# For PostgreSQL database access
psycopg2-binary

# For Streamlit dashboard
streamlit
pandas

# For loading environment variables securely
python-dotenv
